<section data-bind="if: visible()">
       <div class="row" data-bind="if: filterBox() && filterBox() !== ''">
         <div class="input-group col-xs-4 filter-field">
             <input type="text" class="form-control" data-bind="value:filterBox">
               <span class="input-group-btn">
                 <button type="button" class="btn btn-primary" data-bind="click: removeFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
               </span>
         </div>
       </div>
       <div class="row widget moduleContainer" data-bind="css: flowClass">
            <div class="filterSection col-xs-0">
              <div id="filterButton" class="leftSearchButt" data-bind="click: koMods.app.showHideSearchMenu">
                 <i class="fa fa-search" aria-hidden="true" ></i><br/>
              </div>
                <table class="table filterTable">
                  <tbody>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">A</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">B</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">C</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">D</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">E</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">F</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">G</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">H</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">I</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">J</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">K</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">L</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">M</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">N</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">O</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">P</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">Q</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">R</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">S</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">T</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">U</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">V</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">W</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">X</a></td>
                      </tr>
                      <tr>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">Y</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">_</a></td>
                          <td><a class="btn btn-outline btn-white" data-bind="click: applyFilter">Z</a></td>
                      </tr>
                  </tbody>
                </table>
            </div>
            <div id="artists_cont" class="contentSection col-xs-12 text-right pull-right">
                <!-- div id="filterButton" class="contBox btn-default text-center" data-bind="click: koMods.app.showHideSearchMenu">
                   <i class="fa fa-search" aria-hidden="true" ></i><br/>
                </div -->
                <!-- ko foreach:{data:artList, as:'artNode'} -->
                <div class="contBox" data-bind="attr:{'style':'background: url(\''+(artNode.lfm_img_url||'./img/icon.png')+'\') no-repeat;'},click:function(){ $parent.loadAlbums(artNode) }" >
                    <span data-bind="attr:{'style':'background-color:rgba('+(~~(Math.random() * 130) + 1)+', '+(~~(Math.random() * 130) + 1)+', '+(~~(Math.random() * 130) + 1)+', 0.75);'}, html:artNode.name">-</span>
                </div>
                <!-- /ko -->
            </div>
      </div>
 </section>
