/**
body{
   color: #1ab394;
}

**/

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   // this is important
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255,255,255);
    border: 1px solid rgb(0,0,0);
}

body{
   overflow: hidden;
}


#loadingDiv{
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color:rgba(34, 34, 34, 0.95);
  z-index: 100000;
}

#loadingDiv div.comCont{
  z-index: 100001;
  color: #fff;
  position: absolute;
  left: 35%;
  top: 40%;
  width: 400px;
  text-align: center;
}

#loadingDiv div.comCont i{
   margin-bottom: 7px;
}

.moduleContainer{
   /*width: 95%;*/
   /*margin-left: 45px;*/
   background-color:rgba(70, 70, 70, 0.75);
   color: #fff;
}

.kioskHeader{
   /*width: 93%;*/
   /*margin-left: 45px;*/
   background-color:rgba(34, 34, 34, 0.95);
   min-height: 100px;
   color: #fff;
}

.qrPicCont{
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  float: right;
}

.logoContHead{
   padding-top: 20px;
   padding-left: 20px;
   float: left;
   vertical-align: middle;
}

.transButton{
   margin-top: 6px;
}

.filterTable {
    border: 0;
    display: none;
    margin-top: 38px;

}

.filterTable tr td{
   border:  none !important;
   padding: 0px 0px 0px 5px !important;
}

.logoContHead img{
   width: 130px;
   height: 130px;
}

.filterSection{

}

.filterSection a{
    min-width: 40px;
    margin-bottom: 5px;
}


.contentSection{
   overflow-y: scroll;
   height: 480px;
}

.contentSection.submenu{
  text-align: center;
  overflow-y: hidden;
}

.contentSection.submenu .contBox span{
   position: absolute;
   top: 0px;
   padding: 0px;
   width: 100%;
   left: 0px;
   text-align: center;
   border-radius: 3px;
   height: 100%;
}

.queueContainer{
   overflow: hidden;
   background-color: black;
   padding-top: 8px;
   height: 75px;
}

.queueContBox{
  width: 250px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 6px;
  position: relative;
  float: left;
  margin-right: 1px;
  background-color: black;
  overflow: hidden;
}

.queueContBox img{
   opacity: 0.8;
   width: 60px;
   height: 60px;
}

.queueContBox div{
   padding: 3px;
   text-align: center;
   width: 75%;
   border-radius: 3px;
   float: right;
   color: green;
   background-color:rgba(0, 0, 0, 0.75);
}

/**
.contBox{
  width: 120px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-top: 55px;
  position: relative;
  float: left;
  margin-right: 10px;
}
.contBox span{
   position: absolute;
   padding: 2px;
   background-color:rgba(34, 34, 34, 0.75);
   width: 105px;
   left: 5px;
   text-align: center;
   border-radius: 3px;

}
**/

.selected{
    border: 4px solid red;
}

.selected span{
     background-color:rgba(255, 0, 0, 1) !important;
     text-transform: uppercase;
}

.contentSection table{
  float: right;
}
.contentSection table tbody tr{
     background-color:rgba(0, 0, 0, 0.75);
     color: #fff;
}

.contentSection table tbody tr:hover{
     background-color:rgba(200, 200, 200, 0.75);
     color: #000;
}

.contentSection table tbody td:first-child{
   padding-top: 15px;
}

.contentSection table tbody td:last-child{
   text-align: right;
}

.insPassForm{
   margin-bottom: 5px;
}

.insPassForm input{
   border-radius: 5px;
   color: black;
}

.filter-field{
    padding-left: 30px !important;
    padding-top: 10px;
}

.filter-field input{
  position: relative;
  border-radius: 4px;
  border: none;
  color: #000;
}



#player{
   color: white;
   overflow: hidden;
   background-color:rgba(34, 34, 34, 0.95);
  /** background-color:rgba(34, 34, 34, 0.95); **/
}

#player .fullscreenvideo{
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: auto;
                position: fixed;
                top: 0%;
                left: 0%;
                /** transform: translateX(-50%) translateY(-50%); **/
                z-index: 100;
                background-size: cover;
                background-color: black;
}

#player .playList-item{
     height: auto;
     padding: 0px 0px 10px 0px;
     background-color:rgba(92, 184, 92, 0.4);
     opacity: 0.4;
}

#player .playList-item.playing{
    background-color:transparent;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
}

#player .playList-item.playing td{
    border-top: none;
}

#player .playList-item tr td:first{
     width: 20%;
}

#player .playList-item img{
   height: 100px;
   border-radius: 8px;
}

#player .album-cover-cont{
   padding-top: 65px;
   text-align: right;
}

#player .album-cover-cont img{
   max-width: 300px;
   height: auto;
   border-radius: 50%
}

#player .main-play-cont table tr td{
   border: none;
}

#player .song-player-container{
   text-align: left;
}

#player .logoContHead{
   padding-top: 4px;
}

.wide-button{
   width: 150px;
}

.leftSearchButt{
  position: absolute;
  left: 25px;
  z-index: 5;
  background-color:#6c6c6c;
  color: #fff;
  padding: 10px;
  border-radius: 5px 0px 5px 0px;
  border-width: 0px;
  /**top: 50%; **/
}

.leftSearchButt.open{
   left: 95%;
}

#filterButton i{
   font-size: 25px;
}

/** bigger tables **/
/** @media only screen and (min-width: 1000px) { **/
  .contBox{
    width: 174px;
    height: 174px;
    margin-bottom: 10px;
    padding-top: 65px;
    position: relative;
    float: left;
    margin-right: 21px;
  }
  .contBox.leftMenu{
    width: 160px;
    height: 160px;
  }
  .contBox span{
     position: absolute;
     padding: 4px;
     background-color:rgba(34, 34, 34, 0.75);
     width: 165px;
     left: 5px;
     text-align: center;
     border-radius: 3px;

  }
/**} **/
